<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="form-group">
      <label>Enter Username</label>
      <input type="text" class="form-control" [(ngModel)]="username" />
    </div>
    <div class="form-group">
      <label>Enter Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" />
    </div>
    <button class="btn btn-outline-success" (click)="sendDataToC2()">
      Send data to C2
    </button>
  </div>
  <div class="col-4"></div>
</div>
