<!-- <app-c1></app-c1>
<app-c2 *ngIf="displayC2"></app-c2>

<button class="btn btn-primary" (click)="displayC2 = !displayC2">
  Hide C2
</button>
<h2>------ Directive ------</h2>
<p class="h4" [appHighlight]="bgColor">Paragraph 1</p>

<p class="h4" [appHighlight]="bgColor">Paragraph 2</p>
<p class="h4" [appHighlight]="bgColor">Paragraph 3</p> -->

<app-ex-rate></app-ex-rate>
