<div class="row mt-5">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="form-group">
      <label>Enter Exchange Rate</label>
      <input type="number" class="form-control" appTwoDecimal [(ngModel)]="exRate" />
    </div>
  </div>
  <div class="col-4"></div>
</div>
